/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
h1,
h3 {
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
}
:root {
  --bg1color: #f0f1ea;
  --textcolor: #053634;
  --shape: #ebb017;
}
.text {
  color: var(--textcolor);
  width: 45%;
  position: relative;
}

.shapetri {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;

  background-color: var(--shape);
  border-radius: 2% 98% 100% 0% / 90% 100% 0% 10%;
}
